{
  "check-coverage": false,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "lines": 15,
  "cache": true,
  "all": true,
  "report-dir": "./coverage/lcov"
}
