body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* Starts - Fiuba CSS */

.navbar {
  background-color: #00aee6;
  border-color: #0196dc;
  color: #ededed;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-bottom: 0px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a94442;
}

.linkNavbar {
  color: #ededed;
  text-align: -webkit-match-parent;
  text-decoration: none;
  line-height: 20px;
  position: relative;
  display: block;
  padding: 15px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #0196dc;
}

.navbar-inverse .navbar-brand {
  color: #ededed;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ededed;
}

.loadingModal {
  width: 200px;
  margin-top: 250px;
}

.expandedRow {
  margin-top: 50px;
  margin-bottom: 50px;
}

.bigIcon {
  font-size: 8em;
  color: #0196dc;
}

.inmenseIcon {
  font-size: 12em;
  color: #0196dc;
}

.onlyIcon {
  border-radius: 100%;
  border-width: 0px;
}

.fixMarginLeft {
  margin-left: 1em;
}

.flexContainer {
  display: flex;
}

.successText {
  color: #5cb85c;
}

.dangerText {
  color: #d9534f;
}

.warningText {
  color: #f0ad4e;
}

.halfWidth {
  width: 50px;
}

.successContainer {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.flexBottom {
  margin-top: 2.1em;
  align-self: flex-end;
}

/* Ends - Fiuba CSS */

.actionsColumn :not(:first-child) {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.1em;
  float: right;
}

.actionsColumn :first-child {
  margin-left: 0em;
  margin-top: 0.1em;
  float: right;
}

.loading {
  margin: auto;
  width: 100%;
  padding: 100px;
}
